
.icon-soundcloud-1:before { content: '\e800'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
