:root {
  --primary-light-clr: #554971;
  --primary-dark-clr: #36213E;
  --secondary-light-clr: #F0E7D8;
  --secondary-dark-clr: #AB9B96;
  --grey: rgb(240, 240, 240);
  font-size: 32px;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2, * h3, * h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 1000;
  text-align: center;
  line-height: 2em;
}

* p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 2em;
}

* i {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#36213E), color-stop(#36213E), color-stop(#36213E), color-stop(#554971), color-stop(#554971), color-stop(#f0f0f0), color-stop(#F0E7D8), color-stop(#F0E7D8), color-stop(#AB9B96), color-stop(#AB9B96), to(#AB9B96));
  background-image: linear-gradient(90deg, #36213E, #36213E, #36213E, #554971, #554971, #f0f0f0, #F0E7D8, #F0E7D8, #AB9B96, #AB9B96, #AB9B96);
  background-size: 700%;
  -webkit-animation: bg-animation 20s infinite alternate;
          animation: bg-animation 20s infinite alternate;
}

body nav {
  z-index: 99;
  top: 1vh;
  bottom: 95vh;
  left: 0;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

body nav .navCont {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav .navCont .navContBtn {
  background-color: var(--secondary-light-clr);
  -webkit-box-shadow: 0em 0em 0.3em black;
          box-shadow: 0em 0em 0.3em black;
  border-radius: 2px;
  padding: 0.2em;
}

body nav .navCont .navContBtn a {
  text-decoration: none;
}

body nav .navCont .navContBtn a i {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav .navToTopBtn {
  background-color: var(--secondary-light-clr);
  -webkit-box-shadow: 0em 0em 0.3em black;
          box-shadow: 0em 0em 0.3em black;
  border-radius: 2px;
  padding: 0.2em;
  padding: 0;
  top: 95vh;
  bottom: 0;
  left: 95vw;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav .navToTopBtn a {
  text-decoration: none;
}

body nav .navToTopBtn a i {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header {
  margin: 0.5em;
  background-color: var(--primary-dark-clr);
}

body header .headerCont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .headerCont h1 {
  color: var(--secondary-light-clr);
}

body header .headerCont p {
  color: var(--secondary-light-clr);
}

body main .mainCont .projects {
  margin: 1em;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary-light-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .projects h2 {
  color: var(--secondary-light-clr);
}

body main .mainCont .projects p {
  color: var(--secondary-light-clr);
}

body main .mainCont .projects .projectsCont {
  display: -ms-grid;
  display: grid;
}

body main .mainCont .skills {
  margin: 1em;
  background-color: var(--grey);
}

body main .mainCont .skills .skillsCont {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .skills .skillsCont h2 {
  color: var(--primary-dark-clr);
}

body main .mainCont .skills .skillsCont p {
  color: var(--primary-dark-clr);
}

body main .mainCont .skills .skillsCont .skillsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

body main .mainCont .skills .skillsCont .skillsSection div {
  color: var(--primary-dark-clr);
}

body main .mainCont .about {
  margin: 1em;
  background-color: var(--secondary-light-clr);
}

body main .mainCont .about .aboutCont {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .about .aboutCont h2 {
  color: var(--primary-dark-clr);
}

body main .mainCont .about .aboutCont p {
  color: var(--primary-dark-clr);
}

body footer {
  margin: 0.5em;
  background-color: var(--secondary-dark-clr);
}

body footer .footerCont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footerCont .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footerCont .contact .contactBtn a i {
  color: black;
  font-size: 8em;
}
/*# sourceMappingURL=style.css.map */