:root {
  --primary-light-clr: #554971;
  --primary-dark-clr: #36213E;
  --secondary-light-clr: #F0E7D8;
  --secondary-dark-clr: #AB9B96;
  --grey: rgb(240, 240, 240);
  font-size: 32px;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * h2, * h3, * h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 1000;
  text-align: center;
  line-height: 2em;
}

* p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 2em;
}

body {
  margin: 0;
}

body nav {
  top: 0;
  bottom: 95vh;
  left: 0;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

body nav .navCont {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav .navCont .navContBtn {
  border: 1px solid white;
}

body nav .navTopBtn {
  border: 1px solid white;
  top: 95vh;
  bottom: 0;
  left: 95vw;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header {
  background-color: var(--primary-dark-clr);
}

body header .headerCont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .projects {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary-light-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .projects .projectsCont {
  display: -ms-grid;
  display: grid;
}

body main .mainCont .skills {
  background-color: var(--grey);
}

body main .mainCont .skills .skillsCont {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .mainCont .skills .skillsCont .skillsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

body main .mainCont .about {
  background-color: var(--secondary-light-clr);
}

body main .mainCont .about .aboutCont {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer {
  background-color: var(--secondary-dark-clr);
}

body footer .footerCont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footerCont .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */