*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{    
    display: flex;
    flex-direction: column;
    background-image: url("img/pexels-simon-berger-1323550.webp");
    background-size: cover;
    header{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .headerCont{
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
            box-shadow: 5px 5px 15px;
            border-radius: 10px;
            height: 300px;
            width: 300px;
            .img{
                outline: 5px solid rgba(255, 255, 255, 0.3);
                background-size: cover;
                border-radius: 50%;
                height: 230px;
                width: 230px;
                background-image: url("img/BE.webp");
                transition: 0.5s;
            }
            .img:hover,img:active{
                transform: rotate(360deg);
                background-image: url("img/face.webp");
                transition: 0.5s;
            }
        }
    }
    nav{
        top: 0px;
        position: sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        .navCont{
            font-family: 'Bitter', serif;
            font-size: 2rem;
            height: 130px;
            width: 700px;
            margin: 10px;
            gap: 80px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .navBtnHome{
                box-shadow: 3px 3px 10px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 40%;
                transition: 0.5s;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            .navBtnTracks{
                box-shadow: 3px 3px 10px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 40%;
                transition: 0.5s;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            .navBtnAbout{
                box-shadow: 3px 3px 10px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
                width: 40%;
                transition: 0.5s;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            .navBtnTracks:hover,.navBtnAbout:hover,.navBtnHome:hover{
                transition: 0.5s;
                transform: scale(1.1);
            }
        }
    }
    main{
        .mainCont{
            .mainContLand{
                height: 60px;
            }
           .tracks{
            margin: 0 50px 0 50px;
            height: 650px;
            background-image: linear-gradient(to left,rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
            box-shadow: 10px 10px 15px;
            border-radius: 10px;
            .tracksTitle{
                padding-top: 50px;
                font-size: 5rem;
                font-family: 'Bitter', serif;
                text-shadow: white 1px 1px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .tracksCont{
                padding: 50px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .tracksCont1,.tracksCont2,.tracksCont3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    iframe{
                        box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
                    }
                }
            }
            .tracksMore{
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    font-size: 3rem;
                    font-family: 'Bitter', serif;
                    text-decoration: none;
                    color: black;
                    text-shadow: white 1px 1px 5px;
                }
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 4rem;
                    transition: 0.3s;
                }
                i:hover{
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
            }
            .aboutMeLand{
                height: 60px;
            }
           .about{
            font-family: 'Bitter', serif;
            padding: 50px;
            margin: 0 50px 50px 50px;
            text-shadow: white 1px 1px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(to left,rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
            box-shadow: 10px 10px 15px;
            border-radius: 10px;
                .aboutMe{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
         
                    .aboutMeTitle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        font-size: 4rem;
                    }
                    .aboutMeDesc{
                        margin-bottom: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
                .aboutTools{
                    gap: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .aboutSoftware{
                        width: 300px;
                        flex-direction: column;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .aboutSoftwareTitle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 3rem;
                            margin-bottom: 10px;
                        }
                        .aboutSoftwareDesc{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: 1.5rem;
                        }
                    }
                    .aboutHardware{
                        width: 300px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .aboutHardwareTitle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 3rem;
                            margin-bottom: 10px;
                        }
                        .aboutHardwareDesc{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    footer{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .footerCont{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0px 10px 0px 10px;
            height: 150px;
            width: 500px;
            min-width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: 5px 5px 15px;
            border-radius: 10px;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
            }
            .socialsSC{
                a{
                    text-decoration: none;
                    color: black;
                    text-shadow: white 1px 1px 5px;
                    display: flex;
                    justify-content: center;
                }
                i{
                    display: flex;
                    flex-direction: column;
                    font-size: 5rem;
                    transition: 0.3s;
                }
                i:hover{
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
            .socialsIG{
                a{
                    text-decoration: none;
                    color: black;
                    text-shadow: white 1px 1px 5px;
                }
                i{
                    display: flex;
                    flex-direction: column;
                    font-size: 5rem;
                    transition: 0.3s;
                }
                i:hover{
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
            .socialsMail{
                a{
                    text-decoration: none;
                    color: black;
                    text-shadow: white 1px 1px 5px;
                }
                i{
                    display: flex;
                    flex-direction: column;
                    font-size: 5rem;
                    transition: 0.3s;
                }
                i:hover{
                    transform: scale(1.3);
                    transition: 0.3s;
                }
            }
        }
    }
    .credits{
        display: flex;
        justify-content: end;
        .creditsCont{
            font-size: 0.6rem;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
            box-shadow: 5px 5px 15px;
            border-radius: 2px;
        }
    }
@media (max-width: 800px){
    body{
        header{
            margin-top: 85px;
        }
        nav{
            .navCont{
                gap: 13px;
                .navBtnHome,.navBtnTracks,.navBtnAbout{
                    padding: 0 5px;
                }
            }

        }
        main{
            .mainCont{
                .tracks{
                    margin: 50px 10px 0 10px;
                    height: 1000px;
                    .tracksCont{
                        .tracksCont1,.tracksCont2,.tracksCont3{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
                .about{
                    margin: 50px 10px 50px 10px;
                    padding: 30px 30px;
                    .aboutTools{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        .aboutSoftware{
                            display: flex;
                            text-align: center;
                            .aboutSoftwareDesc{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                            }
                        }
                        .aboutHardware{

                            display: flex;
                            text-align: center;
                            margin: 0;
                            .aboutHardwareDesc{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    footer{
        .footerCont{
            width: 320px;
            .socials{
                padding: 20px;
                gap: 15px;
                height: fit-content;
                width: fit-content;
                display: flex;
                .socialsSC,.socialsIG,.socialsMail{
                    i{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
    .credits{
        margin-top: 20px;
    }
    }
}