* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("img/pexels-simon-berger-1323550.webp");
  background-size: cover;
}

body header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .headerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.75)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
  -webkit-box-shadow: 5px 5px 15px;
          box-shadow: 5px 5px 15px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

body header .headerCont .img {
  outline: 5px solid rgba(255, 255, 255, 0.3);
  background-size: cover;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  background-image: url("img/BE.webp");
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header .headerCont .img:hover, body header .headerCont img:active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-image: url("img/face.webp");
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body nav {
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .navCont {
  font-family: 'Bitter', serif;
  font-size: 2rem;
  height: 130px;
  width: 700px;
  margin: 10px;
  gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .navCont .navBtnHome {
  -webkit-box-shadow: 3px 3px 10px;
          box-shadow: 3px 3px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body nav .navCont .navBtnHome a {
  color: black;
  text-decoration: none;
}

body nav .navCont .navBtnTracks {
  -webkit-box-shadow: 3px 3px 10px;
          box-shadow: 3px 3px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body nav .navCont .navBtnTracks a {
  color: black;
  text-decoration: none;
}

body nav .navCont .navBtnAbout {
  -webkit-box-shadow: 3px 3px 10px;
          box-shadow: 3px 3px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 40%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body nav .navCont .navBtnAbout a {
  color: black;
  text-decoration: none;
}

body nav .navCont .navBtnTracks:hover, body nav .navCont .navBtnAbout:hover, body nav .navCont .navBtnHome:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main .mainCont .mainContLand {
  height: 60px;
}

body main .mainCont .tracks {
  margin: 0 50px 0 50px;
  height: 650px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.75)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
  -webkit-box-shadow: 10px 10px 15px;
          box-shadow: 10px 10px 15px;
  border-radius: 10px;
}

body main .mainCont .tracks .tracksTitle {
  padding-top: 50px;
  font-size: 5rem;
  font-family: 'Bitter', serif;
  text-shadow: white 1px 1px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .mainCont .tracks .tracksCont {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

body main .mainCont .tracks .tracksCont .tracksCont1, body main .mainCont .tracks .tracksCont .tracksCont2, body main .mainCont .tracks .tracksCont .tracksCont3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body main .mainCont .tracks .tracksCont .tracksCont1 iframe, body main .mainCont .tracks .tracksCont .tracksCont2 iframe, body main .mainCont .tracks .tracksCont .tracksCont3 iframe {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

body main .mainCont .tracks .tracksMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .mainCont .tracks .tracksMore a {
  font-size: 3rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
  color: black;
  text-shadow: white 1px 1px 5px;
}

body main .mainCont .tracks .tracksMore i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main .mainCont .tracks .tracksMore i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main .mainCont .aboutMeLand {
  height: 60px;
}

body main .mainCont .about {
  font-family: 'Bitter', serif;
  padding: 50px;
  margin: 0 50px 50px 50px;
  text-shadow: white 1px 1px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.75)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
  -webkit-box-shadow: 10px 10px 15px;
          box-shadow: 10px 10px 15px;
  border-radius: 10px;
}

body main .mainCont .about .aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .mainCont .about .aboutMe .aboutMeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 4rem;
}

body main .mainCont .about .aboutMe .aboutMeDesc {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2rem;
}

body main .mainCont .about .aboutTools {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .mainCont .about .aboutTools .aboutSoftware {
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .mainCont .about .aboutTools .aboutSoftware .aboutSoftwareTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

body main .mainCont .about .aboutTools .aboutSoftware .aboutSoftwareDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

body main .mainCont .about .aboutTools .aboutHardware {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .mainCont .about .aboutTools .aboutHardware .aboutHardwareTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

body main .mainCont .about .aboutTools .aboutHardware .aboutHardwareDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footerCont {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer .footerCont .socials {
  height: 150px;
  width: 500px;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 5px 5px 15px;
          box-shadow: 5px 5px 15px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.75)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
}

body footer .footerCont .socialsSC a {
  text-decoration: none;
  color: black;
  text-shadow: white 1px 1px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footerCont .socialsSC i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footerCont .socialsSC i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footerCont .socialsIG a {
  text-decoration: none;
  color: black;
  text-shadow: white 1px 1px 5px;
}

body footer .footerCont .socialsIG i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footerCont .socialsIG i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footerCont .socialsMail a {
  text-decoration: none;
  color: black;
  text-shadow: white 1px 1px 5px;
}

body footer .footerCont .socialsMail i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body footer .footerCont .socialsMail i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body .credits .creditsCont {
  font-size: 0.6rem;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.75)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), transparent);
  -webkit-box-shadow: 5px 5px 15px;
          box-shadow: 5px 5px 15px;
  border-radius: 2px;
}

@media (max-width: 720px) {
  body header {
    margin-top: 85px;
  }
  body nav .navCont {
    gap: 13px;
  }
  body nav .navCont .navBtnHome, body nav .navCont .navBtnTracks, body nav .navCont .navBtnAbout {
    padding: 0 5px;
  }
  body main .mainCont .tracks {
    margin: 50px 10px 0 10px;
    height: 1000px;
  }
  body main .mainCont .tracks .tracksCont .tracksCont1, body main .mainCont .tracks .tracksCont .tracksCont2, body main .mainCont .tracks .tracksCont .tracksCont3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .mainCont .about {
    margin: 50px 10px 50px 10px;
    padding: 30px 30px;
  }
  body main .mainCont .about .aboutTools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body main .mainCont .about .aboutTools .aboutSoftware {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  body main .mainCont .about .aboutTools .aboutSoftware .aboutSoftwareDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body main .mainCont .about .aboutTools .aboutHardware {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0;
  }
  body main .mainCont .about .aboutTools .aboutHardware .aboutHardwareDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body footer .footerCont .socials {
    padding: 20px;
    gap: 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footerCont .socials .socialsSC i, body footer .footerCont .socials .socialsIG i, body footer .footerCont .socials .socialsMail i {
    font-size: 4rem;
  }
  body .credits {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */